<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "ツイート", user_path %></li>
      <li class="active"><%= link_to "フォロー", followings_path %></li>
      <li><%= link_to "フォロワー", followers_path %></li>
    </ul>
  </div>
</nav> 
